.button {
    background-color: #B8860B;
    text-decoration: none;
    text-shadow: 3px 3px 1px black;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 5px;
    transition: transform 100ms linear;
    border-radius: 3%;
}

.button:hover {
    background-color: rgba(160,82,45,0.70);
    transform: scale(1.2);
}